<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menú</title>
        <link rel="stylesheet" href="css/Style.css">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="sidebar">
           <div class="logo-details">
                <i class='bx bx-chip icon' ></i>
                <div class="logo_name">Reto FullStack</div>
                <i class='bx bx-menu' id="btn"></i>
           </div>
           <ul class="nav-list" >
            <li>
                <i class='bx bx-search-alt' ></i>
                <input type="text" placeholder="Buscar...">
                <span class="tooltip">Search</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-shield-x' ></i>
                  <span class="links_name">Encuentra el Error</span>
                </a>
                <span class="tooltip">Encuentra el Error</span>
            </li>
            <li>
                <a href="#">
                  <i class='bx bx-magnet' ></i>
                  <span class="links_name">String Manipulation</span>
                </a>
                <span class="tooltip">String Manipulation</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-plus-circle' ></i>
                  <span class="links_name">SumArray</span>
                </a>
                <span class="tooltip">SumArray</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-analyse'></i>
                  <span class="links_name">TransformArray</span>
                </a>
                <span class="tooltip">TransformArray</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-book' ></i>
                  <span class="links_name">MyCows</span>
                </a>
                <span class="tooltip">MyCows</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-log-in-circle'></i>
                  <span class="links_name">TrackingCoordinadora</span>
                </a>
                <span class="tooltip">TrackingCoordinadora</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-edit-alt' ></i>
                  <span class="links_name">ArrayScore</span>
                </a>
                <span class="tooltip">ArrayScore</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                  <img src="img/profile.jpg" alt="profileImg">
                  <div class="name_job">
                    <div class="name">Mike Amaya</div>
                    <div class="job">¿Contratado?</div>
                  </div>
                </div>
                <i class='bx bx-log-out' id="log_out" ></i>
            </li>
           </ul>
         </div>
         <section class="home-section1" id="general">
             <div class="text">Ejercicios de la prueba tecnicas de Node.js</div><br>
             <h2>Reto 1</h2><br>
             <img src="img/Captura2.jpg" alt="" id="img">
             <p>adasdd</p>
         </section>
         <section class="home-section2" id="general2">
          <div class="text">Ejercicios de la prueba tecnicas de Node.js</div><br>
          <h2>Reto 1</h2><br>
          <img src="img/Captura2.jpg" alt="" id="img">
          <p>adasdd</p>
      </section>
         <script src="js/script.js"></script>
    </body>
</html> 